body {
}

#home-image {
  width:100%;
  height:auto;
  background-size: contain;
}

nav {
  background-color: #1F6521;
  color:white;
}
.card .image {
    background-size: cover;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
